<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SymboSlate</title>
    <link rel="stylesheet" href="/css/bootstrap.css">
    <link rel="stylesheet" href="/js/bootstrap.js">
</head>
<% const months = ["Jan", "Feb", "Mar", "Apr", "May", "Jun", "Jul", "Aug", "Sep", "Oct", "Nov", "Dec"]; %>
<body>
    <nav class="navbar navbar-expand-sm navbar-dark justify-content-between" style="padding:0% 100px;background:#461143;color:#FFFFFF">
        <a class="navbar-brand" href="/user">
          <img src="/images/Logo/Logo2.png" alt="logo" style="width:167px;padding: 6px;">
        </a>
        
        <ul class="navbar-nav float-right" style="font: normal normal normal 20px/25px IBM Plex Sans;">
          <li class="nav-item">
            <a class="nav-link active" href="/user">Hi <%= name[0].name %></a>
          </li>
          <li class="nav-item">
            <span class="nav-link">|</span>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/logout">Logout</a>
          </li>
        </ul>
    </nav>
    <% if(shel.length === 0){ %>
    <ul class="nav" style="height:56px;background:#FFF;">
      <li class="nav-item">
        <a class="nav-link active" href="/user" style="padding-top:10px;padding-left:100px;font: normal normal bold 22px/29px IBM Plex Sans;color:#000">All Events</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/user/calendar" style="padding-top:10px;padding-left:10px;text-decoration: underline;font: normal normal bold 22px/29px IBM Plex Sans;color: #461143;">My Calendar</a>
      </li>
    </ul>
    
    <div style="height:100vh;width:100%;background:#ECECEC;display:flex;align-items: center;justify-content: center;">
      <div class="container" style="background:#FFF;height:85%;">
        <h3 style="font: normal normal bold 25px/33px IBM Plex Sans;padding:30px 0px 0px 30px;color: #461143;">My Calendar</h3>
        <div style="display: flex;flex-direction: column;justify-content: baseline;align-items:center;">
          <img src="/images/nodata.png" alt="Nodata" style="height:400px;width: 400px;margin-top:-20px">
        </div>
      </div>
    </div>
    <% }else { %>
      <ul class="nav" style="height:56px;background:#ECECEC;">
        <li class="nav-item">
          <a class="nav-link " href="/user" style="padding-top:10px;padding-left:100px;font: normal normal bold 22px/29px IBM Plex Sans;color:#000">All Events</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" href="/user/calendar" style="padding-top:10px;padding-left:10px;text-decoration: underline;font: normal normal bold 22px/29px IBM Plex Sans;color: #461143;">My Calendar</a>
        </li>
      </ul>
      <br>
      <div style="width:100%;background:#FFFFFF;display:flex;align-items: center;justify-content: center;">
        <div class="container" style="background:#ECECEC;">
          <section style="margin-top: 20px;padding: 0px 20px;">
            <h2 style="color:#461143;font: normal normal bold 25px/2px IBM Plex Sans;display:inline;margin-top: 10px;margin-bottom: 10px;">Upcoming Events</h2>
          </section>
          <% shel.map((i)=>{ if(i.etime >= new Date()){%>
          <div class="card" style="display:flex;justify-content: space-between;flex-direction: row;margin:20px;width:auto;height:150px">
            <div style="width: 30%;">
              <img  src="https://picsum.photos/200" alt="Card image" style="height:130px;width:180px;margin:10px">
            </div>
            <div style="width:100%">
              <h4  style="font: normal normal 600 20px/27px IBM Plex Sans;color:#461143; padding-top: 15px;"><%= data.find(s => s._id == i.eventid).title %></h4>
              <p  style="font: normal normal normal 17px/23px IBM Plex Sans;">
                <%= data.find(s => s._id == i.eventid).desc %>
              </p>
            </div>
            <div style="width:45%;padding: 20px;text-align: right;">
              <p style="font: normal normal 600 16px/1px IBM Plex Sans;padding-top: 10px;">
                <%= months[i.stime.getMonth()]+" , "+i.stime.getDate()+" "+i.stime.getFullYear() %>
              </p>
              <p style="font: normal normal 600 16px/1px IBM Plex Sans;padding-top: 10px;">
                <%= i.stime.toLocaleString('en-US', { hour: 'numeric', minute: 'numeric', hour12: true })+" - "+i.etime.toLocaleString('en-US', { hour: 'numeric', minute: 'numeric', hour12: true }) %>
              </p>

            <a href="/user/removeCalendar/<%= i._id %>/" style="text-decoration:none">
            <button class="float-right" style="
              width: 100%;
              height: 35px;
              border-radius: 0px 20px;
              text-decoration:none;
              display:inline;
              text-align: center;
              font: normal normal normal 16px/11px IBM Plex Sans;
              color:#FFFFFF;
              background:#461143;
              padding:8px;font-weight: bold;"
  
            >REMOVE FROM CALENDAR</button>
          </a>
              
            </div>
            
          </div>
          <% }}) %>



          <section style="margin-top: 20px;padding: 0px 20px;">
            <h2 style="color:#461143;font: normal normal bold 25px/2px IBM Plex Sans;display:inline;margin-top: 10px;margin-bottom: 10px;">Past Events</h2>
          </section>
          <% shel.map((i)=>{ if(i.etime < new Date()){%>
          <div class="card" style="display:flex;justify-content: space-between;flex-direction: row;margin:20px;width:auto;height:150px">
            <div style="width: 30%;">
              <img  src="https://picsum.photos/200" alt="Card image" style="height:130px;width:180px;margin:10px">
            </div>
            <div style="width:100%">
              <h4  style="font: normal normal 600 20px/27px IBM Plex Sans;color:#461143; padding-top: 15px;"><%= data.find(s => s._id == i.eventid).title %></h4>
              <p  style="font: normal normal normal 17px/23px IBM Plex Sans;">
                <%= i.desc %>
              </p>
            </div>
            <div style="width:45%;padding: 20px;text-align: right;display: flex;flex-direction: column;justify-content: center;">
              <p style="font: normal normal 600 16px/1px IBM Plex Sans;padding-top: 10px;">
                <%= months[i.stime.getMonth()]+" , "+i.stime.getDate()+" "+i.stime.getFullYear() %>
              </p>
              <p style="font: normal normal 600 16px/1px IBM Plex Sans;padding-top: 10px;">
                <%= i.stime.toLocaleString('en-US', { hour: 'numeric', minute: 'numeric', hour12: true })+" - "+i.etime.toLocaleString('en-US', { hour: 'numeric', minute: 'numeric', hour12: true }) %>
              </p>
              
            </div>
            
          </div>
          <% }}) %>
        </div>
      </div>
      <br>
    <% } %>
    
</body>
</html>